.blogs-heading{
    font-size: 25px;
}
/* .blogs-page-grid{
    width: 70%;
    display: grid;
    gap: 15px;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
}
.blogs-grid-item{
    min-height: 210px;
    box-sizing: border-box;
    padding: 25px;
} */

.blogs-page-grid {
    width: 70%;
    display: grid;
    gap: 15px;
    grid-template-columns: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: stretch;
    grid-auto-rows: 1fr; /* Ensures all rows are the same height */
}

.blogs-page-grid a {
    display: block; /* Make anchor tags behave as block elements */
    text-decoration: none; /* Remove underline from links */
    color: inherit; /* Inherit color from parent */
}

.blogs-grid-item {
    min-height: 210px;
    box-sizing: border-box;
    padding: 25px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    height: 100%; /* Ensure the grid item stretches within the anchor tag */
}



.blogs-grid-item:hover{
    background-color: rgb(186, 220, 249);
    /* border: 1px solid rgb(27, 141, 240); */
    box-shadow: 1px 1px 7px gray;
}
@media (max-width: 900px){
    .blogs-grid{
        width: 80%;
    }
}

@media (max-width: 700px){
    .blogs-page-grid{
        width: 70%;
        grid-template-columns: 100%;
    }
}
@media (max-width: 500px){
    .blogs-page-grid{
        width: 90%;
        grid-template-columns: 100%;
    }
}