.contact-form-section{
    margin-top: 50px;
}
.title-center{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
}
.input-form{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    /* text-align: center; */
    margin-top: 50px;
}
.input-field{
    width: 100%;
    padding: 15px 0px;
    border: none;
    border-bottom: 1px solid #707070;
    margin-bottom: 40px;
    outline: none;
}
.comment-textarea{
    border: 1px solid #707070;
    padding: 15px;
}
.submit-btn{
    text-align: center;
}
.submit-btn{
}
.contact-form-desc{
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 60px;
}
.submit-btn input{
    width: 100%;
    cursor: pointer;
    background-color: #242424;
    /* border-radius: 9px; */
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: white;
    padding: 8px 20px;
}
.submit-btn input:hover{
    background-color: #1456a1;
    color: white;
    transition: 0.1s ease-in;
}

@media (max-width: 1000px){
    .input-form{
        width: 60%;
    }
}
@media (max-width: 700px){
    .title-center{
        font-size: 30px;
    }
    .input-form{
        width: 85%;
    }
}
@media (max-width: 460px){
    .input-form{
        width: 100%;
    }
    .comment-textarea{
        height: 150px;
    }
}